@font-face {
    font-family: "League Spartan";
    src: url("/public/assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lexend Deca";
    src: url("/public/assets/fonts/LexendDeca-VariableFont_wght.ttf");
}


@import "./utils/colors";
@import "./utils/mixin";
@import "./utils/keyframes";

@import "./components/link";
@import "./components/article";
@import "./components/section";
@import "./components/button";

@import "./bases/typo";
@import "./bases/base";

@import "./layout/list";
@import "./layout/footerNavBar";
@import "./layout/main";
@import "./layout/sectionDiv";

@import "./pages/index";
@import "./pages/parcours";
@import "./pages/contact";
@import "./pages/realisations"; 