$color-primary: rgba(160, 166, 118, 1);
$color-secondary: rgba(101, 115, 72, 1);
$color-third: rgba(50, 64, 44, 1);
$color-white:rgba(217, 208, 217, 1);
$color-white-05: rgba(217, 208, 217, .5);
$color-black: rgba(23, 36, 38, 1);
$color-black-05: rgba(23, 36, 38, .5);
