html{
    color: $color-black;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 10px;
    font-weight: 700;
}

p{
    font-size: 1.15rem;
}

h1{
    color: $color-primary;
    text-shadow: 3px 5px 0px $color-black-05;
    font-family: League Spartan;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

h3{
    color: $color-primary;
    text-shadow: 2px 3px 0px $color-black-05;
    font-family: League Spartan;
    font-size: 3.8rem;
    font-weight: 700;
    text-transform: capitalize;
    margin:0;
}

@media (prefers-color-scheme: dark){
	html{
		color:$color-white;
	}
	h1{
		text-shadow: 3px 5px 0px $color-white-05;
	}
	h3{
		text-shadow: 2px 3px 0px $color-white-05;
	}
}

@media screen and (min-width: 568px) and (max-width: 769px) { 
    html{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html{
        font-size: 18px;
    }
}