.index__main{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	&__article{
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		align-items:center;
	}
}
