.index__main{
	display:flex;
	align-items:center;
	justify-content:center;
	height:fit-content;
	width: 100%;
	&__article{
		padding: 2rem O;
		gap: 10%;
		&__section{
			height: 50vh;
			&__text1{
				color: $color-third;
			}
			&__text2{
				color: $color-secondary;
			}
		}
	}
}

@media (prefers-color-scheme:dark){
	.index__main{
		&__article__section{
			&__text1{
				color:$color-primary;
			}
		}
	}
}
