.parcours{
	&__main{
		display:flex;
		align-items:center;
		justify-content:center;
		width:100%;
		height:fit-content;
		&__article{
			padding: 1.7rem 0;
			gap: 15%;
			&__section{
				height: 50vh;
				p{
					text-align:justify;	
					margin:0;
					padding:0;
					span{
						color: $color-third;
					}
				}
			}
		}
	}
}
  
@media (prefers-color-scheme:dark){
	.parcours__main__article__section{
		p{
			span{
				color:$color-primary;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.parcours__main{
		width: 90%;
	}
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.parcours__main{
		width: 80%;
	}
}

@media screen and (min-width: 1280px) {
	.parcours__main{
		height: 100%;
		width: 60%;
	}
}