.parcours{
	&__main{
		display:flex;
		align-items:center;
		justify-content:center;
		width:100%;
		height:fit-content;
		&__article__section{
			p{
				text-align:justify;	
				margin:0;
				padding:0;
			}
		}
	}
}
