a{
    color: $color-black;
    font-family: Lexend Deca;
    font-weight: 700;
    font-style: normal;
    text-decoration: none; 
}

@media (prefers-color-scheme: dark){
	a{
		color: $color-white;
	}
}
