.navBar{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__ul{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
    }
}