.realisations__main__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 90vh;
    gap: 6vh;
    justify-content: center;
    &__title{
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: .8rem;
        justify-content: center;
        flex-direction: column;
        ul{
            display: flex;
            gap: 1rem;
            padding:0;
            margin: 0;
            align-items: center;
            justify-content: center;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-white;
                align-items: center;
                margin: 0;
                border-radius: 5px;
                background-color: $color-secondary;
                p{
                    padding: .2rem .6rem;
                    margin: 0;
                    font-size: .8rem;
                }
            }
        }
    }
    &__text{
        position: relative;
        height: 20 rem;
        padding: 1rem;
        gap: .2rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align:justify ;
        color: $color-white;
        background-color:$color-third;
    }
}


@media (prefers-color-scheme:dark){
    .realisations__main__div__text{
        background-color: $color-primary;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .realisations__main__div{
        flex-direction: row;
        width: 80vw;
        &__text{
            width: 40rem;
        }
    }
}